<ion-header>
  <ion-navbar>
    <ion-title>
      Delivery
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">


  <form id="delivery-form3" #deliveryForm='ngForm' >

    <ion-item id="delivery-input1" >
      <ion-label>
        Date
      </ion-label>
      <ion-datetime displayFormat='DD MMM YYYY' placeholder="" [(ngModel)]='delivery.date' name='date' >
      </ion-datetime>
    </ion-item>

    <ion-item id="delivery-input2">
      <ion-label>
        Time
      </ion-label>

      <ion-select placeholder="" [(ngModel)]='delivery.time' name='time'>

        <ion-option  *ngFor='let opts of deliveryTiming' [value]='opts'> 
          {{opts}}
        </ion-option>

      </ion-select>
  
    </ion-item>

    <ion-item id="delivery-textarea1">
      <ion-label>
        Address
      </ion-label>
      <ion-textarea placeholder="" #address='ngModel'  required [(ngModel)]='delivery.address' name='address' ></ion-textarea>
    </ion-item>

    <ion-item id="delivery-toggle1">
      <ion-label>
        Call before delivery
      </ion-label>
      <ion-toggle color="positive" [(ngModel)]='delivery.call' name='call' checked="false"></ion-toggle>
    </ion-item>

    <div>
      <p ion-text *ngIf='this.submitted && address.invalid' color="danger">Address is required</p>
    </div>

  <button id="delivery-button2" ion-button color="positive" block  (click)='submitForm(deliveryForm)'>
      SUBMIT
    </button>

  </form>
  <div>
    <p>
      Date: 
      {{delivery.date | date:'d/MM/y EE'}}
    </p>
    <p>
     Time: 
      {{delivery.time}}
    </p>
    <p>
      Address: 
      {{delivery.address}}
    </p>
    <p>
        Call before delivery: 
        {{delivery.call}}
    </p>
  </div>

</ion-content>